#portfolio section {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

@keyframes reveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}